.pop-menu {
    width: 70px;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 3px 3px 30px 3px #edf0f2;
    color: #324d65;
    font-size: 18px;
    position: fixed;
    z-index: 1100;
    display: none
}

.pop-menu div {
    cursor: pointer;
    padding: 5px 0
}