.modal-title {
    color: #324d65;
    font-size: 28px;
    font-weight: 700;
}

.modal-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons div {
    font-size: 28px;
    font-weight: 700;
    color: #90aabf;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
}

.modal-buttons div:hover {
    color: #ffffff;
    background-color: #009eca;
}