.broadcast-header {
    user-select: none;
    margin-top: 37px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.broadcast-header-button {
    width: 215px;
    height: 70px;
    background-color: #324d65;
    color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
    cursor: pointer;
}

.broadcast-header-status {
    display: flex;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    color: #90aabf;
    font-size: 22px;
    box-shadow: 3px 3px 15px 2px #edf0f2;
    border-radius: 15px;
}

.status-row {
    cursor: pointer;
    height: 70px;
    box-sizing: border-box;
    padding: 20px 25px;
    transition: .2s;
}

.status-row-active {
    font-weight: bold;
    color: #324d65;
    border-bottom: 3px solid #0094c5;
}
