.main-menu-navigation {
    display: flex;
    user-select: none;
}

.main-menu-entity {
    display: flex;
    align-items: center;
    margin-left: 45px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    color: #e8f6f6;
    text-decoration: none;
}