body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #90aabf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}