@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeue-Bold.eot');
  src: local('./font/Helvetica Bold'), local('HelveticaNeue-Bold'),
      url('./font/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
      /* url('./font/HelveticaNeue-Bold.woff2') format('woff2'), */
      url('./font/HelveticaNeue-Bold.woff') format('woff'),
      url('./font/HelveticaNeue-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeue.eot');
  src: local('./font/HelveticaNeue'),
      url('./font/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      /* url('./font/HelveticaNeue.woff2') format('woff2'), */
      url('./font/HelveticaNeue.woff') format('woff'),
      url('./font/HelveticaNeue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: HelveticaNeue;
}

::-webkit-scrollbar {
  width: 12px;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #90aabf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.5;
}